<div class="register-patient-container">
  <div class="data-patient-module">
    <div class="name-module">
      <label for="register-patient-module">Datos del Paciente</label>
    </div>
    <div class="input-row">
      <div class="input-group">
        <label for="tipoDocumento">Tipo Documento</label>
        <select
          #tipoDocumento
          id="tipoDocumento"
          name="tipoDocumento"
          (change)="onTipoDocumentoPacienteChange($event)"
          required
        >
          <option value="" hidden>Tipo de Documento...</option>
          <option
            *ngFor="let tipoDocumento of tiposDocumentoIdentidad"
            [value]="tipoDocumento.id"
          >
            {{ tipoDocumento.descripcion }}
          </option>
        </select>
      </div>
      <div class="input-group">
        <label for="numeroDocumento">N° Documento</label>
        <input
          #numeroDocumento
          type="number"
          id="numeroDocumento"
          name="numeroDocumento"
          inputmode="numeric"
          class="numeric-input"
          required
        />
      </div>
      <div class="input-group">
        <label for="apellidoPaterno">Apellido Paterno</label>
        <input
          #apellidoPaterno
          type="text"
          id="apellidoPaterno"
          name="apellidoPaterno"
          required
        />
      </div>
      <div class="input-group">
        <label for="apellidoMaterno">Apellido Materno</label>
        <input
          #apellidoMaterno
          type="text"
          id="apellidoMaterno"
          name="apellidoMaterno"
          required
        />
      </div>
      <div class="input-group">
        <label for="nombres">Nombres</label>
        <input #nombres type="text" id="nombres" name="nombres" required />
      </div>
    </div>
    <div class="input-row">
      <div class="input-group">
        <label for="sexo">Sexo</label>
        <select #sexo id="sexo" name="sexo" required>
          <option value="" hidden>Sexo...</option>
          <option value="Masculino">Masculino</option>
          <option value="Femenino">Femenino</option>
        </select>
      </div>
      <div class="input-group">
        <label for="fechaNacimiento">Fecha de Nacimiento</label>
        <input
          #fechaNacimiento
          id="fechaNacimiento"
          name="fechaNacimiento"
          type="date"
          required
        />
      </div>
      <div class="input-group">
        <label for="edad">Edad</label>
        <input #edad type="text" id="edad" name="edad" required />
      </div>
      <div class="input-group-lugarNacimiento">
        <label for="lugarNacimiento">Lugar de Nacimiento</label>
        <input
          #lugarNacimiento
          type="text"
          id="lugarNacimiento"
          name="lugarNacimiento"
          required
        />
      </div>
    </div>
    <div class="input-row">
      <div class="input-group-direccion">
        <label for="direccion">Direccion</label>
        <input
          #direccion
          type="text"
          id="direccion"
          name="direccion"
          required
        />
      </div>
      <div class="input-group">
        <label for="departamento">Departamento</label>
        <select #departamento id="departamento" name="departamento" required>
          <option value="" hidden>Departamento...</option>
          <option value="dni">DNI</option>
          <option value="ce">Carnet de Extranjería</option>
          <option value="pasaporte">Pasaporte</option>
        </select>
      </div>
      <div class="input-group">
        <label for="provincia">Provincia</label>
        <select #provincia id="provincia" name="provincia" required>
          <option value="" hidden>Provincia...</option>
          <option value="dni">DNI</option>
          <option value="ce">Carnet de Extranjería</option>
          <option value="pasaporte">Pasaporte</option>
        </select>
      </div>
      <div class="input-group">
        <label for="distrito">Distrito</label>
        <select #distrito id="distrito" name="distrito" required>
          <option value="" hidden>Distrito...</option>
          <option value="dni">DNI</option>
          <option value="ce">Carnet de Extranjería</option>
          <option value="pasaporte">Pasaporte</option>
        </select>
      </div>
    </div>
  </div>
  <div class="data-companion-module">
    <div class="name-module">
      <label for="register-companion-module">Datos del Acompañante</label>
    </div>
    <div class="input-row">
      <div class="input-group">
        <label for="tipoDocumentoComp">Tipo Documento</label>
        <select
          id="tipoDocumentoComp"
          name="tipoDocumentoComp"
          (change)="onTipoDocumentoAcompananteChange($event)"
        >
          <option value="" hidden>Tipo de Documento...</option>
          <option
            *ngFor="let tipoDocumento of tiposDocumentoIdentidad"
            [value]="tipoDocumento.id"
          >
            {{ tipoDocumento.descripcion }}
          </option>
        </select>
      </div>
      <div class="input-group">
        <label for="numeroDocumentoComp">N° Documento</label>
        <input
          type="number"
          id="numeroDocumentoComp"
          name="numeroDocumentoComp"
          inputmode="numeric"
          class="numeric-input"
        />
      </div>
      <div class="input-group">
        <label for="apellidoPaternoComp">Apellido Paterno</label>
        <input
          type="text"
          id="apellidoPaternoComp"
          name="apellidoPaternoComp"
        />
      </div>
      <div class="input-group">
        <label for="apellidoMaternoComp">Apellido Materno</label>
        <input
          type="text"
          id="apellidoMaternoComp"
          name="apellidoMaternoComp"
        />
      </div>
      <div class="input-group">
        <label for="nombresComp">Nombres</label>
        <input type="text" id="nombresComp" name="nombresComp" />
      </div>
    </div>
    <div class="input-row">
      <div class="input-group">
        <label for="fechaNacimientoComp">Fecha de Nacimiento</label>
        <input
          id="fechaNacimientoComp"
          name="fechaNacimientoComp"
          type="date"
        />
      </div>
      <div class="input-group">
        <label for="edadComp">Edad</label>
        <input type="text" id="edadComp" name="edadComp" />
      </div>
      <div class="input-group">
        <label for="parentescoComp">Parentesco</label>
        <select id="parentescoComp" name="parentescoComp">
          <option value="" hidden>Parentesco...</option>
          <option value="dni">DNI</option>
          <option value="ce">Carnet de Extranjería</option>
          <option value="pasaporte">Pasaporte</option>
        </select>
      </div>
      <div class="input-group-telfContacto">
        <label for="telfComp">Telefono Contacto</label>
        <input type="text" id="telfComp" name="telfComp" />
      </div>
    </div>
    <div class="input-row">
      <div class="input-group-direccion">
        <label for="direccion">Direccion</label>
        <input type="text" id="direccionComp" name="direccionComp" />
      </div>
      <div class="input-group">
        <label for="departamento">Departamento</label>
        <select id="departamentoComp" name="departamentoComp">
          <option value="" hidden>Departamento...</option>
          <option value="dni">DNI</option>
          <option value="ce">Carnet de Extranjería</option>
          <option value="pasaporte">Pasaporte</option>
        </select>
      </div>
      <div class="input-group">
        <label for="provincia">Provincia</label>
        <select id="provinciaComp" name="provinciaComp">
          <option value="" hidden>Provincia...</option>
          <option value="dni">DNI</option>
          <option value="ce">Carnet de Extranjería</option>
          <option value="pasaporte">Pasaporte</option>
        </select>
      </div>
      <div class="input-group">
        <label for="distrito">Distrito</label>
        <select id="distritoComp" name="distritoComp">
          <option value="" hidden>Distrito...</option>
          <option value="dni">DNI</option>
          <option value="ce">Carnet de Extranjería</option>
          <option value="pasaporte">Pasaporte</option>
        </select>
      </div>
    </div>
  </div>
  <div class="buttons">
    <button type="button" class="button-search" (click)="guardarDatos()">
      Guardar
    </button>
    <button class="button-clean">Cancelar</button>
    <button class="button-register-comp">Registrar Acompañante</button>
  </div>
</div>
