<div class="register-patient-container">
  <div class="data-patient-module">
    <div class="name-module">
      <label for="register-patient-module">Datos del Paciente</label>
    </div>
    <div class="input-row">
      <div class="input-group">
        <label for="tipoDocumento">Tipo Documento</label>
        <select id="tipoDocumento" name="tipoDocumento">
          <!-- Opciones del select -->
          <option value="dni">DNI</option>
          <option value="ce">Carnet de Extranjería</option>
          <option value="pasaporte">Pasaporte</option>
        </select>
      </div>
      <div class="input-group">
        <label for="numeroDocumento">N° Documento</label>
        <input
          type="number"
          id="numeroDocumento"
          name="numeroDocumento"
          inputmode="numeric"
          class="numeric-input"
        />
      </div>
      <div class="input-group">
        <label for="apellidoPaterno">Apellido Paterno</label>
        <input type="text" id="apellidoPaterno" name="apellidoPaterno" />
      </div>
      <div class="input-group">
        <label for="apellidoMaterno">Apellido Materno</label>
        <input type="text" id="apellidoMaterno" name="apellidoMaterno" />
      </div>
      <div class="input-group">
        <label for="nombres">Nombres</label>
        <input type="text" id="nombres" name="nombres" />
      </div>
    </div>
    <div class="input-row">
      <div class="input-group">
        <label for="sexo">Sexo</label>
        <select id="sexo" name="sexo">
          <!-- Opciones del select -->
          <option value="Masculino">Masculino</option>
          <option value="Femenino">Femenino</option>
        </select>
      </div>
      <div class="input-group">
        <label for="tipoDocumento">Tipo Documento</label>
        <select id="tipoDocumento" name="tipoDocumento">
          <!-- Opciones del select -->
          <option value="dni">DNI</option>
          <option value="ce">Carnet de Extranjería</option>
          <option value="pasaporte">Pasaporte</option>
        </select>
      </div>
      <div class="input-group">
        <label for="edad">Edad</label>
        <input type="text" id="edad" name="edad" />
      </div>
      <div class="input-group-lugarNacimiento">
        <label for="lugarNacimiento">Lugar de Nacimiento</label>
        <input type="text" id="lugarNacimiento" name="lugarNacimiento" />
      </div>
    </div>
    <div class="input-row">
      <div class="input-group-direccion">
        <label for="direccion">Direccion</label>
        <input type="text" id="direccion" name="direccion" />
      </div>
      <div class="input-group">
        <label for="departamento">Departamento</label>
        <select id="departamento" name="departamento">
          <!-- Opciones del select -->
          <option value="dni">DNI</option>
          <option value="ce">Carnet de Extranjería</option>
          <option value="pasaporte">Pasaporte</option>
        </select>
      </div>
      <div class="input-group">
        <label for="provincia">Provincia</label>
        <select id="provincia" name="provincia">
          <!-- Opciones del select -->
          <option value="dni">DNI</option>
          <option value="ce">Carnet de Extranjería</option>
          <option value="pasaporte">Pasaporte</option>
        </select>
      </div>
      <div class="input-group">
        <label for="distrito">Distrito</label>
        <select id="distrito" name="distrito">
          <!-- Opciones del select -->
          <option value="dni">DNI</option>
          <option value="ce">Carnet de Extranjería</option>
          <option value="pasaporte">Pasaporte</option>
        </select>
      </div>
    </div>
  </div>
  <div class="data-companion-module">
    <div class="name-module">
      <label for="register-companion-module">Datos del Acompañante</label>
    </div>
    <div class="input-row">
      <div class="input-group">
        <label for="tipoDocumentoComp">Tipo Documento</label>
        <select id="tipoDocumentoComp" name="tipoDocumentoComp">
          <!-- Opciones del select -->
          <option value="dni">DNI</option>
          <option value="ce">Carnet de Extranjería</option>
          <option value="pasaporte">Pasaporte</option>
        </select>
      </div>
      <div class="input-group">
        <label for="numeroDocumentoComp">N° Documento</label>
        <input
          type="number"
          id="numeroDocumentoComp"
          name="numeroDocumentoComp"
          inputmode="numeric"
          class="numeric-input"
        />
      </div>
      <div class="input-group">
        <label for="apellidoPaternoComp">Apellido Paterno</label>
        <input
          type="text"
          id="apellidoPaternoComp"
          name="apellidoPaternoComp"
        />
      </div>
      <div class="input-group">
        <label for="apellidoMaternoComp">Apellido Materno</label>
        <input
          type="text"
          id="apellidoMaternoComp"
          name="apellidoMaternoComp"
        />
      </div>
      <div class="input-group">
        <label for="nombresComp">Nombres</label>
        <input type="text" id="nombresComp" name="nombresComp" />
      </div>
    </div>
    <div class="input-row">
      <div class="input-group">
        <label for="fechaNacComp">Fecha de Nacimiento</label>
        <select id="fechaNacComp" name="fechaNacComp">
          <!-- Opciones del select -->
          <option value="dni">DNI</option>
          <option value="ce">Carnet de Extranjería</option>
          <option value="pasaporte">Pasaporte</option>
        </select>
      </div>
      <div class="input-group">
        <label for="edadComp">Edad</label>
        <input type="text" id="edadComp" name="edadComp" />
      </div>
      <div class="input-group">
        <label for="parentescoComp">Parentesco</label>
        <select id="parentescoComp" name="parentescoComp">
          <!-- Opciones del select -->
          <option value="dni">DNI</option>
          <option value="ce">Carnet de Extranjería</option>
          <option value="pasaporte">Pasaporte</option>
        </select>
      </div>
      <div class="input-group-telfContacto">
        <label for="telfComp">Telefono Contacto</label>
        <input type="text" id="telfComp" name="telfComp" />
      </div>
    </div>
    <div class="input-row">
      <div class="input-group-direccion">
        <label for="direccion">Direccion</label>
        <input type="text" id="direccion" name="direccion" />
      </div>
      <div class="input-group">
        <label for="departamento">Departamento</label>
        <select id="departamento" name="departamento">
          <!-- Opciones del select -->
          <option value="dni">DNI</option>
          <option value="ce">Carnet de Extranjería</option>
          <option value="pasaporte">Pasaporte</option>
        </select>
      </div>
      <div class="input-group">
        <label for="provincia">Provincia</label>
        <select id="provincia" name="provincia">
          <!-- Opciones del select -->
          <option value="dni">DNI</option>
          <option value="ce">Carnet de Extranjería</option>
          <option value="pasaporte">Pasaporte</option>
        </select>
      </div>
      <div class="input-group">
        <label for="distrito">Distrito</label>
        <select id="distrito" name="distrito">
          <!-- Opciones del select -->
          <option value="dni">DNI</option>
          <option value="ce">Carnet de Extranjería</option>
          <option value="pasaporte">Pasaporte</option>
        </select>
      </div>
    </div>
  </div>
  <div class="buttons">
    <button class="button-search">Guardar</button>
    <button class="button-clean">Cancelar</button>
  </div>
</div>
