<div class="edit-patient-container">
  <div class="data-patient-module">
    <div class="name-module">
      <label for="register-patient-module">Datos del Paciente</label>
    </div>
    <div class="input-row">
      <div class="input-group">
        <label for="tipoDocumento">Tipo Documento</label>
        <select
          #tipoDocumento
          id="tipoDocumento"
          name="tipoDocumento"
          (change)="onTipoDocumentoPacienteChange($event)"
          required
        >
          <option value="" hidden>Tipo de Documento...</option>
          <option
            *ngFor="let tipoDocumento of tiposDocumentoIdentidad"
            [value]="tipoDocumento.id"
          >
            {{ tipoDocumento.descripcion }}
          </option>
        </select>
      </div>
      <div class="input-group">
        <label for="numeroDocumento">N° Documento</label>
        <input
          #numeroDocumento
          type="number"
          id="numeroDocumento"
          name="numeroDocumento"
          inputmode="numeric"
          class="numeric-input"
          required
        />
      </div>
      <div class="input-group">
        <label for="apellidoPaterno">Apellido Paterno</label>
        <input
          #apellidoPaterno
          type="text"
          id="apellidoPaterno"
          name="apellidoPaterno"
          required
        />
      </div>
      <div class="input-group">
        <label for="apellidoMaterno">Apellido Materno</label>
        <input
          #apellidoMaterno
          type="text"
          id="apellidoMaterno"
          name="apellidoMaterno"
          required
        />
      </div>
      <div class="input-group">
        <label for="nombres">Nombres</label>
        <input #nombres type="text" id="nombres" name="nombres" required />
      </div>
    </div>
    <div class="input-row">
      <div class="input-group">
        <label for="sexo">Sexo</label>
        <select #sexo id="sexo" name="sexo" required>
          <option value="" hidden>Sexo...</option>
          <option *ngFor="let sexo of sexs" [value]="sexo.id">
            {{ sexo.descripcion }}
          </option>
        </select>
      </div>
      <div class="input-group">
        <label for="fechaNacimiento">Fecha de Nacimiento</label>
        <input
          #fechaNacimiento
          id="fechaNacimiento"
          name="fechaNacimiento"
          type="date"
          required
          (input)="calcularEdad()"
        />
      </div>
      <div class="input-group">
        <label for="edad">Edad</label>
        <input #edad type="number" id="edad" name="edad" required readonly />
      </div>
      <div class="input-group-lugarNacimiento">
        <label for="lugarNacimiento">Lugar de Nacimiento</label>
        <input
          #lugarNacimiento
          type="text"
          id="lugarNacimiento"
          name="lugarNacimiento"
          required
        />
      </div>
    </div>
    <div class="input-row">
      <div class="input-group-direccion">
        <label for="direccion">Direccion</label>
        <input
          #direccion
          type="text"
          id="direccion"
          name="direccion"
          required
        />
      </div>
      <div class="input-group">
        <label for="departamento">Departamento</label>
        <select
          #departamento
          id="departamento"
          name="departamento"
          class="select-departamento"
          (change)="onChangeDepartamento($event)"
          required
        >
          <option value="" hidden>Departamento...</option>
          <option
            *ngFor="let departamento of ubigeoDepartaments"
            [value]="departamento.codigo"
          >
            {{ departamento.nombre }}
          </option>
        </select>
      </div>
      <div class="input-group">
        <label for="provincia">Provincia</label>
        <select
          #provincia
          id="provincia"
          name="provincia"
          (change)="onChangeProvincia($event)"
          required
          [(ngModel)]="codigoProvincia"
        >
          <option value="" hidden>Provincia...</option>
          <option
            *ngFor="let provincia of ubigeoProvinces"
            [value]="provincia.codigo"
          >
            {{ provincia.nombre }}
          </option>
        </select>
      </div>
      <div class="input-group">
        <label for="distrito">Distrito</label>
        <select
          #distrito
          id="distrito"
          name="distrito"
          required
          [(ngModel)]="codigoDistrito"
        >
          <option value="" hidden>Distrito...</option>
          <option
            *ngFor="let distrito of ubigeoDistricts"
            [value]="distrito.codigo"
          >
            {{ distrito.nombre }}
          </option>
        </select>
      </div>
    </div>
  </div>
  <div *ngIf="showCompanionModule" class="data-companion-module">
    <div class="name-module">
      <label for="register-companion-module">Datos del Acompañante</label>
    </div>
    <div class="input-row">
      <div class="input-group">
        <label for="tipoDocumentoComp">Tipo Documento</label>
        <select
          #tipoDocumentoComp
          id="tipoDocumentoComp"
          name="tipoDocumentoComp"
          (change)="onTipoDocumentoAcompananteChange($event)"
        >
          <option value="" hidden>Tipo de Documento...</option>
          <option
            *ngFor="let tipoDocumento of tiposDocumentoIdentidad"
            [value]="tipoDocumento.id"
          >
            {{ tipoDocumento.descripcion }}
          </option>
        </select>
      </div>
      <div class="input-group">
        <label for="numeroDocumentoComp">N° Documento</label>
        <input
          #numeroDocumentoComp
          type="number"
          id="numeroDocumentoComp"
          name="numeroDocumentoComp"
          inputmode="numeric"
          class="numeric-input"
        />
      </div>
      <div class="input-group">
        <label for="apellidoPaternoComp">Apellido Paterno</label>
        <input
          #apellidoPaternoComp
          type="text"
          id="apellidoPaternoComp"
          name="apellidoPaternoComp"
        />
      </div>
      <div class="input-group">
        <label for="apellidoMaternoComp">Apellido Materno</label>
        <input
          #apellidoMaternoComp
          type="text"
          id="apellidoMaternoComp"
          name="apellidoMaternoComp"
        />
      </div>
      <div class="input-group">
        <label for="nombresComp">Nombres</label>
        <input #nombresComp type="text" id="nombresComp" name="nombresComp" />
      </div>
    </div>
    <div class="input-row">
      <div class="input-group">
        <label for="fechaNacimientoComp">Fecha de Nacimiento</label>
        <input
          #fechaNacimientoComp
          id="fechaNacimientoComp"
          name="fechaNacimientoComp"
          type="date"
          (input)="calcularEdadComp()"
        />
      </div>
      <div class="input-group">
        <label for="edadComp">Edad</label>
        <input
          #edadComp
          type="number"
          id="edadComp"
          name="edadComp"
          disabled
          readonly
        />
      </div>
      <div class="input-group">
        <label for="parentescoComp">Parentesco</label>
        <select #parentescoComp id="parentescoComp" name="parentescoComp">
          <option value="" hidden>Parentesco...</option>
          <option
            *ngFor="let parentesco of relationships"
            [value]="parentesco.id"
          >
            {{ parentesco.parentesco }}
          </option>
        </select>
      </div>
      <div class="input-group-telfContacto">
        <label for="telfComp">Telefono Contacto</label>
        <input
          #telfComp
          type="text"
          id="telfComp"
          name="telfComp"
          (input)="onInputTelf($event)"
        />
      </div>
    </div>
    <div class="input-row">
      <div class="input-group-direccion">
        <label for="direccionComp">Direccion</label>
        <input
          #direccionComp
          type="text"
          id="direccionComp"
          name="direccionComp"
        />
      </div>
      <div class="input-group">
        <label for="departamentoComp">Departamento</label>
        <select
          #departamentoComp
          id="departamentoComp"
          name="departamentoComp"
          (change)="onChangeDepartamentoComp($event)"
        >
          <option value="" hidden>Departamento...</option>
          <option
            *ngFor="let departamento of ubigeoDepartaments"
            [value]="departamento.codigo"
          >
            {{ departamento.nombre }}
          </option>
        </select>
      </div>
      <div class="input-group">
        <label for="provinciaComp">Provincia</label>
        <select
          #provinciaComp
          id="provinciaComp"
          name="provinciaComp"
          (change)="onChangeProvinciaComp($event)"
          [(ngModel)]="codigoProvinciaComp"
        >
          <option value="" hidden>Provincia...</option>
          <option
            *ngFor="let provincia of ubigeoProvincesComp"
            [value]="provincia.codigo"
          >
            {{ provincia.nombre }}
          </option>
        </select>
      </div>
      <div class="input-group">
        <label for="distritoComp">Distrito</label>
        <select
          #distritoComp
          id="distritoComp"
          name="distritoComp"
          [(ngModel)]="codigoDistritoComp"
        >
          <option value="" hidden>Distrito...</option>
          <option
            *ngFor="let distrito of ubigeoDistrictsComp"
            [value]="distrito.codigo"
          >
            {{ distrito.nombre }}
          </option>
        </select>
      </div>
    </div>
  </div>
  <div class="buttons">
    <button type="button" class="button-search" (click)="guardarDatos()">
      Guardar
    </button>
    <button class="button-clean" (click)="cancelar()">Cancelar</button>
    <button
      class="button-register-comp"
      [class]="cancelButtonClass"
      (click)="toggleCompanionModule()"
    >
      {{
        showCompanionModule
          ? "Cancelar Reg. Acompañante"
          : "Registrar Acompañante"
      }}
    </button>
  </div>
</div>
